/* Poppins, Ralewat, Roboto Mono */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Raleway:wght@300;400;500;600&family=Roboto+Mono:wght@300;400;500&display=swap");

:root {
  --primary-color: #e07000;
  --secondary-color: #0e7490;
  --tertiary-color: #1e40af;
  --warning-color: #eab308;
  --success-color: #22c55e;
  --danger-color: #f43f5e;
  --info-color: #2563eb;
  --light-color: #e2e8f0;
  --dark-color: #1e293b;
  --gray-color: #635b5b;
  --white-color: #fafafa;
  --black-color: #171717;
  --test-color: #cdcdcd;
  --bg-color: #f9f7f5;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin: 0 0 15px 0;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* --------Main - Headline-------- */
main {
  margin: 3rem auto;
  /* padding: 0 1rem; */
}

.p-headline {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.2;
  color: var(--dark-color);
  margin: 0 0 2rem 0;
}

.main-div-1 {
  display: grid;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  gap: 2rem;
}

.main-div-2 {
  grid-column: span 5 / span 6;
  text-align: left;
}

.main-h1-span-1 {
  color: var(--gray-color);
  display: block;
  font-size: 1rem; /* 16px */
  font-weight: 600;
  letter-spacing: 0.025em;
  line-height: 1.5rem; /* 24px */
  text-transform: uppercase;
}

.main-h1-span-2 {
  display: block;
  font-size: 2.25rem; /* 36px */
  letter-spacing: -0.025em;
  line-height: 2.5rem; /* 40px */
  margin-top: 0.25rem; /* 4px */
  font-weight: 800;
}

.main-h1-span-3 {
  display: inline-block;
  color: var(--dark-color);
}

.main-h1-span-4 {
  display: inline-block;
  color: var(--secondary-color);
}

.main-p-1 {
  margin-top: 0.75rem; /* 12px */
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  color: var(--dark-color);
}

.main-div-3 {
  margin-top: 2rem; /* 32px */
  text-align: left;
  margin-left: 0px;
  margin-right: 0px;
}

.main-p-2 {
  margin-top: 0.75rem; /* 12px */
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  color: var(--gray-color);
}

.main-a-1 {
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  color: var(--dark-color);
  text-decoration: underline;
}

.main-a-1:hover {
  color: var(--primary-color);
}

.main-div-4 {
  position: relative;
  display: flex;
  align-items: center;
  grid-column: span 3 / span 6;
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0px;
  max-width: none;
}

.main-div-5 {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  width: 100%;
  max-width: 28rem; /* 448px */
}

.main-img-1 {
  width: 20vw;
  height: auto;
  border-radius: 0.5rem; /* 8px */
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
/* --------Main - Headline - End-------- */

/* --------Section - Skills-------- */
.skills {
  margin: 2rem auto;
  /* padding: 0 1rem; */
}

.skills-h2-1 {
  color: var(--tertiary-color);
  font-size: 2rem;
}

.skills-div-1 {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.5rem;
}

.skills-h3-1 {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.skills-ul {
  font-family: "Roboto Mono", monospace;
  list-style-type: "\1F340";
  padding: 0 0 1rem 0;
  margin: 0 0.5rem;
}

.skills-ul li {
  margin-bottom: 0.5rem;
}

.skills-div-2:nth-child(even) ul li {
  list-style-type: "\1F47E";
}
/* --------Section - Skills - End-------- */

/* --------Section - Experience-------- */
.experience {
  margin: 2rem auto;
  /* padding: 0 1rem; */
}

.experience-h2-1 {
  color: var(--tertiary-color);
  font-size: 2rem;
}

.experience-div-1 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

.experience-h3-1 {
  color: var(--secondary-color);
  text-transform: uppercase;
}

.experience-h4-1 {
  color: var(--info-color);
  margin: 0;
  padding: 0;
}

.experience-ul {
  list-style-type: square;
  padding: 1rem 0;
  margin: 0 0.5rem;
}

.experience-ul li {
  margin-bottom: 0.5rem;
}

.experience-div-2:nth-child(odd) ul li {
  list-style-type: "\1F4BB";
}
/* --------Section - Experience - End-------- */

/* --------Section - Projects-------- */
.projects {
  margin: 2rem auto;
}

.projects-h2-1 {
  color: var(--tertiary-color);
  font-size: 2rem;
}

.projects-h3-1 {
  color: var(--secondary-color);
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}

.projects-ul {
  font-family: "Roboto Mono", monospace;
  list-style-type: square;
}

.projects-a {
  color: var(--dark-color);
  text-decoration: underline;
}

.projects-a:hover {
  color: var(--primary-color);
}

/* --------Section - Project - End-------- */

/* --------Footer-------- */
.footer {
  margin: 2rem auto;
}

.footer-p-1 {
  color: var(--gray-color);
}
/* --------Footer - End-------- */

/* --------Mobile Screen-------- */
@media only screen and (min-width: 150px) and (max-width: 768px) {
  .container {
    max-width: 80rem;
    padding: 0 0.8rem;
  }

  main {
    margin: 0.8rem auto;
  }

  .main-div-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0;
  }

  .main-div-2 {
    text-align: center;
    margin: 0 auto;
    max-width: 42rem;
    grid-column: span 6 / span 6;
  }

  .h1-span-2 {
    font-size: 3rem; /* 48px */
    line-height: 1;
  }

  .main-p-1 {
    margin-top: 1.25rem; /* 20px */
    font-size: 1rem;
    line-height: 1.75rem; /* 28px */
    text-align: left;
  }

  .main-div-3 {
    max-width: 32rem; /* 512px */
  }

  .main-div-4 {
    position: relative;
    margin-top: 3rem; /* 48px */
    margin-bottom: 0;
    max-width: 32rem; /* 512px */
    margin-left: auto;
    margin-right: auto;
    grid-column: span 6 / span 6;
  }

  .main-div-5 {
    justify-content: center;
    align-items: center;
  }

  .main-img-1 {
    margin-top: 0;
    width: 60vw;
    height: auto;
    border-radius: 50%;
  }

  .skills-div-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .experience-div-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
/* --------Mobile Screen - End-------- */
